Repository ocelotgraphql/ios, pull requests merged in 2018-12, with the labels that each got.

#19 Add GitHub playground creation
  App/App.xcodeproj/project.pbxproj
  App/App/Extensions/UINavigationController+Presenter.swift
  CommonUI/CommonUI/Types/Presenter.swift
  Feature/Playground/Playground.xcodeproj/project.pbxproj
  Feature/Playground/Playground/Models/Playground.swift
  Feature/Playground/Playground/Models/PlaygroundBuilder.swift
  Feature/Playground/Playground/Models/PlaygroundTemplate.swift
  Feature/Playground/PlaygroundTests/Models/PlaygroundBuilderTests.swift
  Feature/Playground/PlaygroundTests/Models/PlaygroundTemplateTests.swift
  Feature/Playground/PlaygroundTests/Models/PlaygroundTests.swift
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI.xcodeproj/project.pbxproj
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI/Assets/PlaygroundTemplateThumbnails.xcassets/Contents.json
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI/Assets/PlaygroundTemplateThumbnails.xcassets/GitHub.imageset/Contents.json
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI/Assets/PlaygroundTemplateThumbnails.xcassets/GitHub.imageset/GitHub.pdf
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI/Extensions/PlaygroundTemplate+Thumbnail.swift
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI/Scenes/Browse/PlaygroundBrowserCoordinator.swift
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI/Scenes/Browse/PlaygroundBrowserViewController.swift
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI/Scenes/Create/PlaygroundCreationCoordinator.swift
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI/Scenes/Create/PlaygroundTemplateAuthTokenViewController.swift
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI/Scenes/Create/PlaygroundTemplatePickerViewController.swift
  Feature/PlaygroundBrowserUI/PlaygroundBrowserUI/Scenes/Create/PlaygroundTemplatePreviewCell.swift
Labels: app, playground, playgroundbrowserui

#22 Add URLSession Wrapper protocol "NetworkSession"
  App/App.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  Common/Common.xcodeproj/project.pbxproj
  Common/Common.xcodeproj/xcshareddata/xcschemes/Common.xcscheme
  Common/Common/Common.h
  Common/Common/Extensions/URLSession+NetworkSession.swift
  Common/Common/Info.plist
  Common/Common/Types/NetworkSession.swift
  Common/CommonTests/Info.plist
  Common/CommonTests/Types/URLSessionNetworkSessionTests.swift
  Ocelot.xcworkspace/contents.xcworkspacedata
Labels: common, enhancement

#26 Add opening of Playgrounds
  App/App.xcodeproj/project.pbxproj
  App/App/Coordinators/AppCoordinator.swift
  Common/Common.xcodeproj/project.pbxproj
  Feature/EditorUI/EditorUI.xcodeproj/project.pbxproj
  Feature/EditorUI/EditorUI/EditorUI.h
  Feature/EditorUI/EditorUI/Info.plist
  Feature/EditorUI/EditorUI/Scenes/Edit/PlaygroundEditorCoordinator.swift
  Feature/EditorUI/EditorUI/Scenes/Edit/PlaygroundEditorViewController.swift
  Feature/Playground/Playground.xcodeproj/project.pbxproj
  Ocelot.xcworkspace/contents.xcworkspacedata
Labels: app, editorui, enhancement

#28 Conform Playground UTI to public.content
  App/App/Info.plist
Labels: app, bug
